# Compiled sources
*.pyc
build/
dist/

# Setup
**.egg*

# Jupyter notebooks
**.ipynb_checkpoints*

# Sphinx documentation
_build

# Editor files
.idea

# Test files
.pytest_cache
.cache

# Outputs
**/out/*

# Docs
docs/_build
**jupyter_execute

# Model files
**.pth
**.zip

# Wandb filles
wandb/

# Expert data files 
**.h5

# vscode
.vscode/

# Certain GAIL specific config files
# config.json
model_config.json

**/*.orig
/test
/new_test
